* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    font-family: Verdana;
    background-color: seagreen;
}

.baner {
    color: white;
    text-align: center;
    height: 330px;
}

.baner>h3 {
    text-align: center;
    letter-spacing: 6px;
    text-transform: capitalize;
    margin: 15px;
}

h3 {
    color: white;
    text-align: center;
    letter-spacing: 6px;
    text-transform: capitalize;
    margin: 15px;
}

main {
    margin: 10px;
}

.lewy {
    background-color: whitesmoke;
    width: 30%;
    height: 150px;
    text-align: center;
    float: left;
}

.prawy {
    background-color: whitesmoke;
    width: 70%;
    height: 150px;
    float: right;
}

.TeamContainer-wrapper {
    display: flex;
    justify-content: center;
}

.TeamContainer {
    display: inline-block;
    text-align: center;
    align-items: center;
    color: white;
    width: 170px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 15px;
}

.TeamContainer:hover {
    color: black;
    background-color: white;
}
















































































/* Jan Kupczyk 4TID */