html,body{margin:0px;padding:0px;background-color:#EEEEEE}
#kontener{width:1000px;margin:auto;text-align:center}
#logo,#menu,#stopka{background-color:#C0C0C0;height:100px;padding-top:10px;padding-bottom:10px}
#logo{width:400px;float:left}
#menu{width:600px;float:left}
#baner{background-color:#DDDDDD;height:200px;clear:both}
#glowny{margin:50px}
#stopka{text-align:right}
#baner a,#menu a{color:#555555;margin:50px;font-size:200%;text-decoration:none}
hr{background-color:#C0C0C0;width:70%;border-width:2px}
table{text-align:left}
ul{list-style-position:inside}