* {
	font-family: 'Garamond';
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

header,
footer {
	background: #3cb371;
	color: white;
	padding: 10px;
	font-size: 130%;
	text-align: center;
	clear: both;
}

.lewy {
	background: #faebd7;
	width: 55%;
	height: 450px;
	float: left;
}

.prawy {
	background: #faebd7;
	width: 45%;
	height: 450px;
	float: left;
}

img {
	padding: 3px;
	margin: 15px;
	border: 2px dashed #3cb371;
}
