* {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 auto;
    scroll-behavior: smooth;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: aliceblue;
    color: #2d2d2d;
    transition: easy-in 0.6s;
}

.nav {
    position: sticky;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.EE09,
.E14 {
    text-decoration: none;
    text-transform: uppercase;
    list-style-type: none;
    color: #2d2d2d;
    border: 2px solid #2d2d2d;
    margin: 15px;
    transition: ease-in 0.5s;
}

.EE09:hover,
.E14:hover {
    -webkit-animation: none;
    animation: none;
    -webkit-font-smoothing: none;
    opacity: 0.3;
}

ul {
    list-style-type: none;
    text-align: center;
    display: inline;
}

.img-container img {
    display: inline-block;
}

.EE09-container {
    height: 100vh;
    margin-top: 60px;
    text-align: center;
}

.E14-container {
    height: 75vh;
    margin-top: 60px;
    text-align: center;
}

.egzamin {
    padding: 2rem;
}

.egzamin>ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
}

.egzamin>ul>li {
    border: 1px solid #E2E2E2;
    border-radius: .5rem;
}

.egzamin>ul>li:hover {
    -webkit-animation: breathing 4s ease-in-out infinite;
    animation: breathing 4s ease-in-out infinite;
    -webkit-font-smoothing: antialiased;
}

.egzamin>ul>li>figure {
    max-height: 220px;
    overflow: hidden;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    position: relative;
}

.egzamin>ul>li>figure>img {
    height: 100%;
    width: 100%;
}

.egzamin>ul>li>figure>figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
}

.egzamin>ul>li>figure>figcaption>h3 {
    color: white;
    padding: .75rem;
    font-size: 1.25rem;
}

.egzamin>ul>li>p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem .75rem;
    color: #2d2d2d;
}

.down {
    color: #2d2d2d;
    text-decoration: none;
    transition: ease-in 0.5s;
}

.down:hover {
    transition: ease-in 0.5s;
    color: rgba(26, 220, 26, 0.905);
    -webkit-animation: none;
    animation: none;
    -webkit-font-smoothing: none;
}

.forkme {
    font-size: 20px;
    position: fixed;
    padding: 4px 30px 4px 30px;
    font-family: tahoma;
    font-size: 20px;
    position: fixed;
    top: 50px;
    right: -45px;
    display: block;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    background-color: #2d2d2d;
    color: aliceblue;
    z-index: 2;
    transition: ease-in 0.3s;
}

.forkme:hover {
    transition: ease-in 0.3s;
    box-shadow: 7px 9px 11px 0px rgba(0, 0, 0, 0.77);
    -webkit-box-shadow: 7px 9px 11px 0px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 7px 9px 11px 0px rgba(0, 0, 0, 0.77);
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    box-shadow: inherit 0 0 15px #2d2d2d8a;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #2d2d2d;
    transition: ease-in-out 0.5s;
}

::-webkit-scrollbar-corner {
    border-radius: 10px;
    background-color: #2d2d2d;
    transition: ease-in-out 0.5s;
}

::-webkit-scrollbar-track:hover {
    opacity: 30%;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2d2d2d;
    transition: ease-in-out 0.5s;
}

::-webkit-scrollbar-track-piece:hover {
    background-color: #2d2d2d8a;
    transition: ease-in-out 0.5s;
    opacity: 30%;
}

::-webkit-scrollbar-corner:hover {
    background-color: #2d2d2d8a;
    transition: ease-in-out 0.5s;
    opacity: 30%;
}

footer {
    width: 100%;
    background: #2d2d2d;
    color: white;
    margin-top: 1%;
    z-index: 100;
}

.footer-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.footer-box {
    flex: 1;
    margin: 15px;
    min-width: 300px;
    z-index: 10000;
}

.footer-box h2 {
    letter-spacing: 2px;
    border-bottom: 3px solid #E2E2E2;
    position: relative;
    margin-bottom: 15px;
}

.footer-box a {
    color: white;
    text-decoration: none;
    display: inline-block;
}

.footer-box a i {
    background: #2d2d2d;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 5px;
    transition: ease-in 0.5s;
}

.social {
    margin-top: 6px;
    display: flex;
    transition: ease-in 0.5s;
}

#linked {
    width: 30px;
    height: 30px;
    transition: ease-in 0.5s;
}

#git {
    width: 30px;
    height: 30px;
    transition: ease-in 0.5s;
}

#twitter {
    width: 30px;
    height: 30px;
    transition: ease-in 0.5s;
}

#steam {
    width: 30px;
    height: 30px;
    transition: ease-in 0.5s;
}

.footer-box a:hover,
.footer-box a:hover i {
    border-radius: 50%;
    transition: ease-in 0.5s;
    opacity: 30%;
}

.footer-links a {
    display: block;
    margin-bottom: 10px;
    z-index: 100;
}

.author {
    width: 100%;
    background: #2d2d2d;
    text-align: center;
    padding: 15px 0;
    text-transform: uppercase;
    overflow: hidden;
    color: #E2E2E2;
    opacity: 40%;
}

#MIT{
    height: 15px;
    width: 15px;
}


@-webkit-keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}