* {
	box-sizing: border-box;
	margin: 0 auto;
}

body,
html {
	margin: 0px;
	padding: 0px;
}

.menu {
	background-color: rgb(57, 180, 107);
	color: white;
	text-align: center;
	font-size: 150%;
	width: 20%;
	height: 220px;
	float: left;
}

.dane {
	height: 300px;
	clear: both;
}

#footer {
	background-color: rgb(57, 180, 107);
	color: white;
	text-align: center;
	font-size: 150%;
}

a {
	color: white;
}

#btn {
	background-color: green;
	border: 1px green;
	color: white;
	font-weight: bold;
	padding: 15px;
}

h1 {
	color: rgb(27, 163, 82);
}


























































































/* Jan Kupczyk */