body
{
	margin: 0px;	
}
header
{
	background-color: #1C59A7;
	color: white;
	text-align: center;
	height: 80px;
}

#pl
{
	background-color: #3A70B5;
	width: 33%;
	height: 200px;
	float: left;
}

#ps
{
	background-color: #5A8AC8;
	width: 33%;
	height: 200px;
	float: left;
}

#pp
{
	background-color:  #86ACDD;
	text-align: center;
	width: 34%;
	height: 200px;
	float: left;
}

#pd
{
	clear:left;
	background-color: #86ACDD;
	text-align: center;
	height: 300px;

}

footer
{
	background-color: #1C59A7;
	color: white;
}

#pp a
{
	background-color: yellow;
	color: blue;
	padding: 10px;
}