body{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    margin: 0 auto;
}

#baner-lewy, #blok-lewy{
    background-color: rgb(130, 69, 85);
    color: white;
    width: 30%;
    height: 200px;
    text-align: center;
    float: left;
}

#baner-prawy, #blok-prawy{
    background-color: rgb(130, 69, 85);
    color: white;
    width: 70%;
    height: 200px;
    text-align: center;
    float: left;
}

main, footer{
    background-color: rgb(240, 234, 226);
    padding: 120px;
    clear: both;
}

table, td{
    border: 1px solid rgb(130, 69, 85);
    color: rgb(130, 69, 85);
    padding: 10px;
}

a{
    color: rgb(240, 234, 226);
}