* {
    font-family: Tahoma, sans-serif;
    margin: 0 auto;
    color: white;
}


header,
main {
    clear: both;
    display: flex;
    flex-direction: row;
}

.b1,
.b3,
.b4 {
    background-color: #983713;
    width: 17%;
    height: 100px;
}

.b2 {
    background-color: #983713;
    width: 49%;
    height: 100px;
    text-align: center;
}

.lewy {
    background-color: #ff7f50;
    width: 80%;
    height: 500px;
}

.prawy {
    background-color: #ff7f50;
    width: 20%;
    height: 500px;
}

input{
    color: orange;
}

button {
    background-color: #d3d3d3;
    color: #2f2f2f;
    border: 2px solid #2f2f2f;
    margin: 5px;
    padding: 10px 30px;
}

footer {
    background-color: #983713;
    text-align: right;
}