* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  padding: 15px;
  font-family: Verdana, sans-serif;
}

a > i {
  cursor: pointer;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 12px 15px;
  border: 1px solid #707bac;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
}

.table th {
  background-color: #8892bf;
  color: #fff;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.footer-container {
  height: 100px;
}

.footer-box {
  display: flex;
}

.author {
  text-align: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.noopener-noreferrer {
  color: #31292f;
  font-weight: bold;
  text-decoration: none;
}

.noopener-noreferrer:hover {
  text-decoration: underline;
}

td[data-label="TITLE"]:hover {
  text-decoration: underline;
  cursor: pointer;
}

.ToolTip {
  text-align: center;
  margin-left: 38%;
  position: fixed;
  z-index: 9999;
  background-color: #0d1117;
  color: #c9d1d9;
  overflow-y: scroll;
  transition: opacity 750ms;
}

.btn-push {
  position: absolute;
  top: 15px;
  right: 15px;
  font-family: "Open Sans";
  text-decoration: none;
  font-size: 15px;
  background: #f7f7f7;
  padding: 5px 15px;
  margin: 5 15px;
  border: 1px solid #c4c4c4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 0px #c4c4c4;
  -moz-box-shadow: 0px 5px 0px #c4c4c4;
  -ms-box-shadow: 0px 5px 0px #c4c4c4;
  -o-box-shadow: 0px 5px 0px #c4c4c4;
  box-shadow: 0px 5px 0px #c4c4c4;
  color: #222;
  text-shadow: 1px 1px 1px #fff;
  -webkit-transition: All 250ms ease;
  -moz-transition: All 250ms ease;
  -o-transition: All 250ms ease;
  -ms-transition: All 250ms ease;
  transition: All 250ms ease;
}

.btn-push.purple {
  background: #8892bf;
  color: #fff;
  border: 1px solid #8892bf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 0px #8892bf;
  -moz-box-shadow: 0px 5px 0px #8892bf;
  -ms-box-shadow: 0px 5px 0px #8892bf;
  -o-box-shadow: 0px 5px 0px #8892bf;
  box-shadow: 0px 5px 0px #8892bf;
  text-shadow: 1px 1px 1px #8892bf;
}

.btn-push.purple:hover {
  transform: scale(0.99);
}

.form-control {
  height: 32px;
  width: 30%;
  border-radius: 5px;
  border-color: #707bac;
  margin-top: 25px;
  margin-bottom: 20px;
  color: #00008b;
}

.view-sort {
  cursor: pointer;
}

::marker {
  display: none;
  color: transparent;
  background-color: transparent;
  border-color: transparent;
  border: 0 0px transparent;
}

@media (max-width: 950px) {
  .table thead {
    display: none;
  }

  a > i {
    cursor: pointer;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }

  .table tr {
    margin-bottom: 15px;
  }

  .table td {
    padding-left: 50%;
    text-align: center;
    position: relative;
    z-index: 9999;
  }

  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}

.version-info {
  font-size: 12px;
  top: 5px;
  right: 5px;
  background-color: #8892bf;
  padding: 2px 5px;
  border-radius: 2px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

@media screen and (max-width: 950px) {
  .version-info {
    font-size: 11px;
    padding: 1px 3px;
  }
}
