* {
    margin: 0 auto;
    padding: 0;
}



body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Portalwed {
    background-color: #4682B4;
    font-size: 120%;
    color: white;
    padding: 20px;
    left: 0;
    bottom: 0;
    text-align: center;
}


#jk {
    background-color: #4682B4;
    color: white;
    position: fixed;
    font-size: 120%;
    width: 100%;
    padding: 20px;
}

main {
    background-color: #40E0D0;
    height: 500px;
    display: flex;
    min-height: 86vh;
}

article {
    width: 40%;
}

section {
    width: 60%;
}