body {
  font-family: Georgia;
  margin: 0;
}

.banner {
  background-color: #005B4F;
  color: white;
  text-align: center;
  font-size: 50%;
  height: 20px;
}

main {
  background-color: #E1E2E1;
  height: 400px;
  padding: 20px;
  overflow: scroll;
}

.imgbox {
  width: 20%;
  float: left;
}

.opis {
  display: inline;
  clear: both;
}

footer .one,
footer .two {
  background-color: #005B4F;
  color: white;
  text-align: center;
  width: 50%;
  height: 20px;
  float: left;
}

img {
  padding: 20px;
  border-radius: 100%;
}

h2 {
  text-align: center;
  background-color: #00897B;
}

a {
  color: white;
}

h1 {
  margin: 0;
}










/*Jan Kupczyk*/






