* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

.gorny-lewy {
    background-color: #483D8B;
    height: 150px;
    width: 30%;
    float: left;
}

.gorny-lewy img{
    width: 100%;
    position: absolute;
}

.gorny-prawy {
    background-color: #483D8B;
    height: 150px;
    width: 70%;
    float: right;
    color: white;
}

.gorny-prawy h1 {
    margin-top: 20px;
}

.gorny-prawy p {
    margin-top: 28px;
}

.stopka {
    background-color: #483D8B;
    color: white;
    clear: both;
    padding: 10px;
}

main {
    clear: both;
    width: 100%;
    height: 76.8vh;
}

main>div {
    background-color: #AFEEEE;
    width: 150px;
    height: 100px;
    margin: 3px;
    border: 1px solid black;
    float: left;
}


















/* Jan Kupczyk */